
:root
{
    /*COLORS*/
    --menu-trim: #562067;
    --text-main: #ffb700;
    --text-shadow: #770045;
    --link-shadow: #da007f;
}

body
{
    background-color: #230f27;
    background-image: url("images/brickBG_big.png");
    background-position-x: center;
}

hr{
    border: 2px solid var(--menu-trim);
}

main{
    border-radius:50px;
    
    color: var(--text-main);
    font-family: Verdana;
    font-size: 1em;
    margin-left: 5%;
    margin-right: 5%;
    
    box-shadow: 0px 0px 1em #000000;
    min-width: 400px;
    padding-bottom: 0px;
  }

.disclaimer{
    margin: 0;
    font-size: 1em;
    background-color: red;
    text-shadow: 0px 3px 0px #a40060;
    line-height: 2em;
}

#herobanner
{
    font-size:2.65em;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    background-color: #562067;
    background-image: url("images/wavy.gif");
    padding: 0.5em;
    
    font-weight: bold;
    margin-top:2em;
    margin-bottom: 0px;
}

.lauren{
    image-rendering: pixelated;
    left: 10%;
    position:absolute;
    top: 1.15em;
}

.lauren:active{
    transform:scaleY(0.95) scaleX(1.05) ;
    top: 1.3em;
}

#herotext
{
    color: var(--text-main);
    text-shadow: 4px 4px 0 var(--link-shadow);
    transform: rotate(0deg);
    line-height: 0.25em;

    transition: transform 5s ease-in-out, 
                text-shadow 5s ease-in-out,
                color 5s ease-in-out;
}

#herotext:hover
{
    color: var(--text-main);
    text-shadow: 6px 6px 0 var(--link-shadow);
    transform: rotate(5deg);

    transition: transform 5s ease-in-out, 
                text-shadow 5s ease-in-out,
                color 5s ease-in-out;
    
}

h1 em
{
    width:100%;
    text-align: center;
}

h3
{
    text-align: center;
}

.artDesc
{
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 1em;
}

#wrapper
{
    border-radius:50px;
    background-color:#34143e;
    text-align: center;
    max-width: 100%;
}

#headnav{
    padding: 1em;
    background-color: var(--menu-trim);
}

#headnav a
{
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--link-shadow);

    transform: scale(1);   
    transition: transform 0.25s ease-in-out;
}

#headnav a:hover{
    /*rotate: 360deg;
    transition: rotate 0.35s ease-in-out;*/
    
    transform: scale(1.25);
    transition: transform 0.5s ease-in-out;
}

#artnav{
    position: sticky;
    top: 0;
    padding: 1em;
    background-color:#562067;
    z-index: 999;
    box-shadow: 0px 5px 1em black;
}

#artnav a
{
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}

#about
{
    font-size: 1.25em;
    padding-left: 5%;
    text-align: left;
    text-shadow: 2px 2px 0 rgb(164, 0, 96);
    width: 50%;
    max-width: 50%;
}

p{  line-height: 1.5em; }

#subheader{
    margin: auto;
    max-width: 95%;
    padding-bottom: 1.5em; 
}

p strong{
    color: #00ff95;
    text-shadow: 2px 2px 0 rgb(0, 74, 164);
}

#img1{
    float:right;    
    width: 50%;
    margin: auto 2%;
    margin-top: 5em;
    font-size: 0.85em;
    font-weight: bold;
    color: #00ff95;
    text-shadow: 3px 3px 0 rgb(0, 74, 164);
}

#compy{
    width: 75%;
    max-width: 700px;
    border-radius: 30px;
    box-shadow: 0px 0.1em 0.75em black
}

footer{
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
    background-color: var(--menu-trim);
    padding: 1em;
}

a{
    color: var(--text-main);
    text-shadow: 2px 2px 0 var(--text-shadow);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

#copyright{
    margin-top: 3em;
    margin-bottom: 3em;
    display: block;
    width: 100%;
    text-align: center;
    font-family: verdana;
    color: var(--text-main)
}

.links a
{
    font-size: 1.7em;
    text-shadow: 2px 2px 0 rgb(119, 0, 69);
    font-weight: bold;
}

.links svg
{
    width: 1em;
    fill: white;
}

.linkItem
{
    text-align: center;
    transform: scale(1);
    transition: transform 0.25s ease-out;
}

.linkItem:hover
{
    transform: scale(1.15);
    transition: transform 0.25s ease-out;
}

#discordBanner
{
    background-image: linear-gradient(#5865F2, #7118be);
    margin: 3% auto;
    
    text-align: center;
    padding: 2em;
    padding-bottom:1.15em;
    width: 80%;
    max-width: 600px;
    box-shadow:0px 0.35em#610f82;
    border-radius:1em;
    display: flex;

    transform: scale(1);
    transition: transform 0.25s ease-out;
}

#discordBanner:hover
{
    border: 2px solid var(--text-main);

    transform: scale(1.05);
    transition: transform 0.25s ease-out;
}

#discordBanner svg{
    margin: auto;
    height: 4em;
}

#musabout{
   
    width: 87%;
    padding: 0.15em;
    margin: auto;
    text-shadow: 2px 2px 0 #a40060;
    
    
}

#gamesabout{
    text-shadow: 2px 2px 0 #a40060;
}

#newtHEAD{
    text-align: center;

    margin: 0px;
    padding-bottom: 0.25em;
    font-size: 8em;
    color:#00ff95;
    text-shadow: 3px 3px 0 rgb(0, 74, 164);
}

#gamesNewtBanner{
    display: flex;
    width: 85%;
    height: auto;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#canonHEAD
{
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0px;
    padding-bottom: 0%;
    font-size: 8em;
    color:#fff5e5;
    text-shadow: 0px 0px 5px rgb(255, 230, 0);
}

.trailer{
    width: 100%;
    aspect-ratio: 16/9;
    margin-bottom: 1em;
}

.itchio{
    width: 100%;
    max-width: 100%;
}

.gamecase{
    display: flex;
    width: 96%;
    margin: auto;
    margin-top: 1em;
    justify-content: space-around;
}

.caseleft{
    min-width: 50%;
    margin-right: 2em;
    width: 100%;
    max-width: 50%;
}
.caseright{
    min-width: 48%;
    margin-bottom: auto;
}

.musShill{
    margin: auto;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    width: 30%;
    padding: 0.25em;
    background-color: #47315c;
    line-height: 2em;
    border-radius: 1em;;
}

#lilNewt{
    display: none;
}

.gamedesc
{
    margin: 0px;
    margin-bottom: 1em;
    padding:1em;
    border-radius: 1em;
    background-color: var(--menu-trim);
    font-size: 1.25em;
    font-weight: bold;
    text-align: left;
    
    box-shadow: 0px 0px 1em black
}

.gamedescMOBILE{
    display: none;
}

iframe
{
    box-shadow: 0px 0px 1em #000000;
    border-radius: 1em;
}

#favGames
{
    margin: auto;
    background-color: #55396b;
    border-radius: 2em;
    width: 90%;
    box-shadow: 0px 0.5em 0.75em black;
    text-shadow: 2px 2px 0 #a40060;
}

#TL{
    border-top-left-radius: 2em;
}

#TR{
    border-top-right-radius: 2em;
}

th
{
    line-height:2.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.2em;
    background-color: #55396b;
}

thead
{
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

#favGames, th, td
{
    border-collapse: collapse;
    font-size: 1.1em;
}

#favGames td
{
    padding: 1em;
}

 tr:nth-child(odd)
{
    background-color: #47315c;
}

form
{
    text-shadow: 2px 2px 0 #a40060;
    margin: auto;
    padding: 1em;
    background-color:#55396b;
    width: 50%;
    max-width: 300px;
    border-radius: 1em;
    box-shadow: 0px 0.5em 0.75em black;
}


#headnav a:visited{color: #ff6478;}
#headnav a:hover{color: #00ff95; text-shadow: 3px 3px 0 rgb(0, 74, 164);}

.links a:visited{color: #ff6478;}
.links a:hover{color: #00ff95; text-shadow: 3px 3px 0 rgb(0, 74, 164);}

figcaption a:visited{color: #ff6478;}
figcaption a:hover{color: #ffffff; text-shadow: 3px 3px 0 rgb(0, 74, 164);}

a:visited{color: #ff6478;}
a:hover{color: #ffffff; text-shadow: 3px 3px 0 rgb(0, 74, 164);}



@supports(display: flex)
{
    #headnav
    {
        display: flex;
        grid-template-rows: 40px;
        flex-direction: row;
        justify-content:space-around;
    }

    #artnav
    {
        display: flex;
        grid-template-rows: 40px;
        flex-direction: row;
        justify-content:space-around;
    }

    .links
    {
        display:flex;
        justify-content:space-around;
    }

    .linkItem
    {
        flex: 1;
    }

    .player
    {
        display:flex;
        flex: 1;
    }

    .artBox
    {
        margin: 2%;
        padding: 1em;
        border-radius: 1em;
        background-color:#562067;
        box-shadow: 0px 10px 40px#000000;
        display: grid;
        align-content: space-between;
    }

    .artrow
    {
        display: flex;
        
    }

    .artcol
    {
        margin-left: auto;
        margin-right: auto;
        align-content: space-around;
    }

    .artcol img 
    {
        max-height: 500px;
        display: block;
        max-width: 100%;
        border-radius: 1em;
        box-shadow: 0px 0px 10px#000000;
    }
    .artcol figcaption
    {
        text-align: center;
        margin: 0.5em;
    }

    .art
    {
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 1em;
        margin-top: 1em;
        display: inline-block;
        text-decoration: none;

        transform: scale(1);
        transition: transform 0.15s ease-in-out ;
    }

    .art:hover
    {
        transform: scale(1.1);
        transition: transform 0.25s ease-in-out ;
    }

    #mus
    {
        display: flex;
    }

    .music
    {
        width: 500px;
        height: auto;
        margin: auto;
        align-content: space-between;
        max-width: 45%;
        aspect-ratio: 8/10;
    }
}


@media(max-width: 850px)
{
    #herotext
    {
        font-size: 1.15em;
    }

    #headnav
    {
        font-size: 0.7em;
    }

    #newtHEAD
    {
        font-size: 6em;
    }

    #canonHEAD
    {
        font-size: 6em;
    }

    body
    {
        font-size: 0.75em;
        
    }

    main
    {
        width: 96%;
        margin-left: auto;
        margin-right: auto;
        
    }

    #herobanner
    {
        font-size:3em;      
        padding: 0.3em;
    }

    nav
    {
        font-size: 0.75em;
    }

    #img1
    {
        float: none;
        width:auto;
    }

    #compy
    {
       
        max-width:100%;

       height: auto;
    }

    #musabout
    {
        padding: 1%;
        text-align: center;
    }

    #about
    {   
        padding-left: 2%;
        padding-right: 2%;
        width: 98%;
        max-width: 98%;
        font-weight: bold;
    }

    .trailer
    {
        width: 100%;
        border-bottom: 50px;
    }

    .caseleft
    {
        margin:2%;
        margin-top: 0%;
        align-content: center;
        max-width: 100%;
    }

    .lauren{
        display: none;
    }

    .gamedesc
    {
        display:none;
    }

    .gamedescMOBILE
    {
        display: inline-block;
        padding:1em;
        border-radius: 1em;
        background-color:#562067;

        font-size: 1.5em;
        font-weight: bold;
        text-align: left;
        float:none;
        max-width: 100%;
    }

    .itchio
    {
        width: 100%;
    }   

    #artcol figcaption
    {
        display: none;
    }

    #art
    {
        margin: 0px;
        padding: 0px;
        display: inline-block;
        text-decoration: none;

        transform: scale(0.9);
        transition: transform 0.15s ease-in-out ;
    }

    #art:hover
    {
        transform: scale(1);
        transition: transform 0.15s ease-in-out ;
    }

    .links
    {
        font-size: 0.8em;
    }

    #subheader
    {
        text-align: center;
        max-width: 100%
    }

    form
    {
        width: 100%;
    }

    #lilNewt
    {
        display: block;
        margin: auto;
    }

}

/* I have a 2K monitor, so I made a media query for 2K specifically */
/* No idea what it looks like at 4K*/
@media(min-width: 2560px)
{
    
    .lauren{
        left: 11em;
        top:64px;
        scale: 1.5
    }

    .lauren:active{
        transform:scaleY(0.95) scaleX(1.05);
        top: 1.7em;
    }

    #herotext{
        font-size: 3em;
    }

    #about
    {
        font-size: 1.55em;
    }

    #musabout
    {
        font-size: 1.5em;
    }

    #artDesc
    {
        font-size: 2em;
        text-align: center;
        margin-bottom: 1em;
    }

    /* HAVENT TESTED YET

    #gamesNewtBanner
    {
        max-width: 900px;
    }
    */
}



